body {
    margin: 0;
    padding-top: 60px;
    background-color: #FAFAFA;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

body > header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 30px;
    min-height: 60px;
    width: 100%;
    background-color: #1976D2;
    color: white;
    box-shadow: 0px 0px 10px gray;
}

body > header a {
    color: white;
    text-decoration: none;
}

body > header .title {
    display: inline;
    margin: auto 0;
    font-size: 2em;
    font-weight: bold;
}

.header-info {
    display: inline-block;
    margin: auto 0;
}

body > footer {
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 0.85em;
}

body > footer hr {
	border: 0;
	border-bottom: 1px solid grey;
	margin: 0.5em auto;
	width: 60%;
}

body > main {
    width: 60%;
    margin: 0 auto;
}

body > aside {
    position: fixed;
    top: 60px;
    right: 2.5%;
    width: 15%;
    text-align: right;
}

.list-unstyled {
    margin: 0;
    padding: 0px;
}

.list-unstyled > li{
    list-style: none;
}

.errorlist {
    margin: 0;
    padding: 0px;
}

.errorlist > li{
    list-style: none;
    font-size: 0.85em;
    color: #F44336;
}

.content {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.paper-card {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 0.5em 1em;
    border: 0px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 7px gray;
    overflow-wrap: break-word;
}

.paper-card .title{
    margin: 0.5em 0;
    font-size: 1.5em;
    color: #2196F3
}

.paper-card a {
    text-decoration: none;
    color: #2196F3;
}

.paper-card .info {
    width: 100%;
    text-align: right;
}

.tag {
    display: inline-block;
    padding: 0.1em 0.5em;
    border: 0px solid black;
    border-radius: 3px;
    background-color: #2196F3;
    color: white;
    font-size: 0.85em;
    font-weight: bold;
    vertical-align: middle;
}

.info-text {
    font-size: 0.85em;
    color: #9E9E9E;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.material-form {
    position: relative;
}

.material-form * {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.material-form textarea {
    resize: vertical;
}

.material-form input[type="text"],
.material-form input[type="password"],
.material-form input[type="email"],
.material-form textarea {
    width: 100%;
    padding: 0.5em 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9E9E9E;
}

.material-form input[type="text"]:focus,
.material-form input[type="password"]:focus,
.material-form input[type="email"]:focus,
.material-form textarea:focus {
    padding-bottom: calc(0.5em - 1px);
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2196F3;
}

.material-form select:focus {
    border: 1px solid #2196F3;
    outline: none;
}

.material-form input[type="submit"] {
    padding: 0.5em;
}

.material-form label {
    font-size: 0.85em;
    color: #9E9E9E;
    font-weight: bold;
    text-transform: capitalize
}

.header-form input[type="text"],
.header-form input[type="password"] {
    margin-right: 0.5em;
    width: 100px;
    padding: 0.5em;
    color: white;
    background-color: #2196F3;
    border: none;
}

.header-form input[type="text"]:focus,
.header-form input[type="password"]:focus {
    outline: none;
    color: black;
    background-color: white;
}

.header-form input[type="text"]:focus::-webkit-input-placeholder {color: #9E9E9E;}
.header-form input[type="text"]:focus::-moz-placeholder {color: #9E9E9E;}
.header-form input[type="text"]:focus:-ms-input-placeholder {color: #9E9E9E;}
.header-form input[type="password"]:focus::-webkit-input-placeholder {color: #9E9E9E;}
.header-form input[type="password"]:focus::-moz-placeholder {color: #9E9E9E;}
.header-form input[type="password"]:focus:-ms-input-placeholder {color: #9E9E9E;}

.header-form input[type="text"]::-webkit-input-placeholder {color: white;}
.header-form input[type="text"]::-moz-placeholder {color: white;}
.header-form input[type="text"]:-ms-input-placeholder {color: white;}
.header-form input[type="password"]::-webkit-input-placeholder {color: white;}
.header-form input[type="password"]::-moz-placeholder {color: white;}
.header-form input[type="password"]:-ms-input-placeholder {color: white;}

.header-form input[type="submit"] {
    margin-right: 0.5em;
    padding: 0.5em;
}

.header-form * {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.header-form {
    display: inline-block;
}

.btn {
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1976D2;
    box-shadow: 0px 0px 7px gray;
    cursor: pointer
}

.btn:focus {
    outline: none;
}

.btn:active {
    box-shadow: 0px 2px 7px gray;
    background-color: #2196F3;
}

.light-btn {
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2196F3;
    cursor: pointer
}

.light-btn:focus {
    outline: none;
}

.light-btn:active {
    background-color: #1E88E5;
}

.f-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.5em;
}
