{% extends "base.html" %}

{% block title %}
  {% if create %}Создание{% else %}Редактирование{% endif %} записи
{% endblock %}

{% block header %}
    <h1 class="title">{% if create %}Создание{% else %}Редактирование{% endif %} записи</h1>
{% endblock %}

{% block content %}
    {% if create %}
        {% url "post_create" as action_url %}
    {% else %}
        {% url "post_edit" post_pk=form.instance.pk as action_url %}
    {% endif %}
    <div class="paper-card">
        <form action="{{ action_url }}" class="material-form" method="post" accept-charset="utf-8">
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}<br>
                {% endif%}
                {{ field.label_tag }}<br>
                {{ field }}<br>
                <br>
            {% endfor %}
            {% csrf_token %}
            <input class="bottom-left btn" type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}