{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if create %}Создание{% else %}Редактирование{% endif %} записи
{% endblock %}

{% block header %}
    <h1 class="title">{% if create %}Создание{% else %}Редактирование{% endif %} записи</h1>
{% endblock %}

{% block content %}
    {% if create %}
        {% url "post_create" as action_url %}
    {% else %}
        {% url "post_edit" post_pk=form.instance.pk as action_url %}
    {% endif %}
    <div class="paper-card">
        <form action="{{ action_url }}" class="material-form" method="post" accept-charset="utf-8">
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label_tag }}
                {% if field.errors %}
                    {{ field.errors }}
                {% else %}
                    <br>
                {% endif %}
                {% if field.id_for_label == 'id_tags' %}
                    <div style="display: none;">
                        {{ field }}
                    </div>
                    <div id="tags-chooser">

                    </div>
                {% else %}
                    {{ field }}<br>
                {% endif %}
                <br>
            {% endfor %}
            {% csrf_token %}
            <input class="btn" type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'blog/scripts/tags_chooser.js' %}"></script>
{% endblock %}
