{% extends "base.html" %}
{% load blog_tags%}

{% block title %}Блог Андрея Жуланова{% endblock %}

{% block header %}
    <h1 class="title">Блог</h1>
{% endblock %}

{% block content %}
    <ul class="list-unstyled">
    {% for post in posts %}
        <li class="paper-card">{% include "blog/post_short_info.html" %}</li>
    {% empty %}
        <li>Нет записей</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    <aside>
        <div class="paper-card">
            <ul class="list-unstyled">
                {% tagcloud %}
            </ul>
        </div>
    </aside>
{% endblock %}

{% block float_button %}
    {% if perms.blog.add_post %}
        <form action="{% url 'post_create' %}">
            <input class="btn f-btn" type="submit" value="+">
        </form>
    {% endif %}
{% endblock %}