{% extends "base.html" %}
{% load blog_tags%}
{% load staticfiles %}

{% block title %}Запись пользователя {{ post.author.username }}{% endblock %}

{% block header %}
    <span class="title">Запись пользователя {{ post.author.username }}</span>
{% endblock %}

{% block content %}
    <div class="paper-card">
        <div class="content">
            <h1 class="title"><a href="{% url 'post_page' post.pk %}">{{ post.title }}</a></h1>
            <div class="top-right info-text">
                {% if post.author == user or perms.blog.change_post %}
                    <a href="{% url 'post_edit' post.pk %}">
                        <img class="icon" src="{% static 'images/edit_dark.svg' %}">
                    </a>
                {% endif %}
                {% if post.author == user or perms.blog.delete_post %}
                    <a href="{% url 'post_delete' post.pk %}"
                       onclick="return confirm_alert(this);">
                        <img class="icon" src="{% static 'images/close_dark.svg' %}">
                    </a>
                {% endif %}
            </div>
            <p>{{ post.text }}</p>
            {% if post.tags.count %}
                {% for tag in post.tags.all %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            {% endif %}
            <div class="info info-text">
                <a class="author" href="{% url 'user_info' post.author.username %}">{{ post.author.username }}</a>
                <span class="date-published">{{ post.date_published }}</span>
            </div>
        </div>
    </div>
    <ul class="list-unstyled list-divided">
        {% if post.comments.all %}
            {% for comment in post.comments.all %}
                <li>
                    {% if comment.author == user or perms.blog.delete_comment %}
                        <div class="info-text top-right">
                            <a href="{% url 'blog_comment_delete' post.pk comment.pk %}"
                               onclick="return confirm_alert(this);">
                                <img class="icon" src="{% static 'images/close_dark.svg' %}">
                            </a>
                        </div>
                    {% endif %}
                    <a href="{% url 'user_info' post.author.username %}">
                        {{ comment.author.username }}:
                        <br>
                    </a>
                    {{ comment.text }}
                    <div class="info info-text">
                        <span class="date-published">{{ comment.date_created }}</span>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>Коментариев пока нет</li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
        {% if perms.blog.add_comment %}
            <form action="{% url 'blog_comment_add' post.pk %}" class="comment-form" method="post">
                <textarea id="{{ form.text.id_for_label }}" name="{{ form.text.html_name }}"
                          placeholder="Введите коментарий" rows="5"></textarea>
                <br>
                {% csrf_token %}
                <input class="btn" type="submit" value="Отправить">
            </form>
        {% else %}
            Вы не можете оставлять коментарии
        {% endif %}
    {% else %}
        Войдите, чтобы оставлять коментарии
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        function confirm_alert(node) {
            return confirm("Вы уверены?");
        }
    </script>
{% endblock %}