{% extends "base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}Блог Андрея Жуланова{% endblock %}

{% block header %}
    <h1 class="title">Блог</h1>
{% endblock %}

{% block blog_link_class %}
    selected
{% endblock %}

{% block content %}
    <ul class="list-unstyled">
    {% for post in posts %}
        <li class="paper-card">{% include "blog/post_short_info.html" %}</li>
    {% empty %}
        <li>Нет записей</li>
    {% endfor %}
    </ul>
    <div id="pages-indicator">
        {% if current_page > 1 %}
            <button class="btn" id="prev-page-button">&lt</button>
            <button class="btn unselected">1</button>
            {% if current_page|add:'-1' > 1 %}
                {% if current_page|add:'-10' > 1 %}
                    <span class="info-text">...</span>
                    <button class="btn unselected">{{ current_page|add:'-10' }}</button>
                {% endif %}
                <span class="info-text">...</span>
                <button class="btn unselected">{{current_page|add:'-1'}}</button>
            {% endif %}
        {% endif %}
        <button class="btn" id="current-page-button">{{current_page}}</button>
        {% if current_page < last_page %}
            {% if current_page|add:'1' < last_page %}
                <button class="btn unselected">{{current_page|add:'1'}}</button>
                <span class="info-text">...</span>
                {% if current_page|add:'10' < last_page %}
                    <button class="btn unselected">{{ current_page|add:'10' }}</button>
                    <span class="info-text">...</span>
                {% endif %}
            {% endif %}
            <button class="btn unselected">{{ last_page }}</button>
            <button class="btn" id="next-page-button">&gt</button>
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    <aside>
        <div class="paper-card">
            <ul class="list-unstyled">
                {% tagcloud %}
            </ul>
        </div>
    </aside>
{% endblock %}

{% block float_button %}
    {% if perms.blog.add_post %}
        <form action="{% url 'post_create' %}">
            <input class="btn f-btn" type="submit" value="+">
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'blog/scripts/pages_indicator.js' %}"></script>
{% endblock %}