{% load static %}
<h2 class="title"><a class="ripple-child" href="{% url 'post_page' post.pk %}">{{ post.title }}</a></h2>
<p>{{ post.text|striptags|truncatewords:50 }}</p>
{% if post.tags.count %}
  {% for tag in post.tags.all %}
    <span class="tag">{{ tag }}</span>
  {% endfor %}
{% endif %}
<div class="info info-text">
    <span>
        {{ post.comments.count }}
        <a class="ripple-child" href="{% url 'post_page' post.pk %}#comments">
            <img class="icon" src="{% static 'images/comments_dark.svg' %}"  style="vertical-align: bottom;">
        </a>
    </span>
    <span>
        <a class="author ripple-child" href="{% url 'user_info' post.author.username %}">{{ post.author.username }}</a>
        {{ post.date_published }}
    </span>
</div>