{% extends 'blog/posts_list.html' %}
{% load blog_tags%}

{% block title %}Записи пользователя {{ observed_user.username }}{% endblock %}

{% block header %}
    <h1 class="title">Записи пользователя {{ observed_user.username }}</h1>
{% endblock %}

{% block blog_link_class %}{% endblock %}
{% block my_posts_link_class %}
    {% if user == observed_user %}
        selected
    {% endif %}
{% endblock %}

{% block aside %}
    <aside>
        {% tagcloud selected_tag observed_user %}
    </aside>
{% endblock %}