{% extends "base.html" %}
{% load blog_tags%}

{% block title %}Профиль пользователя {{ observed_user.username }}{% endblock %}

{% block header %}
    <h1 class="title">Профиль пользователя {{ observed_user.username }}</h1>
{% endblock %}

{% block content %}
    <br>
    <span>Записей: {{ observed_user.posts.count }}</span><br>
    <span>Комментариев: {{ observed_user.comments.count }}</span><br><br>
    <span>Последние записи:</span>
    <ul class="list-unstyled">
    {% for post in posts %}
        <li class="paper-card">{% include "blog/post_short_info.html" %}</li>
    {% empty %}
        <li>Нет записей</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    <aside>
        <div class="paper-card">
            <ul class="list-unstyled">
                {% tagcloud observed_user %}
            </ul>
        </div>
    </aside>
{% endblock %}