{% extends "base.html" %}

{% block title %}О сайте{% endblock %}

{% block header %}
    <h1 class="title">О сайте</h1>
{% endblock %}

{% block about_link_class %}
    selected
{% endblock %}

{% block content %}
    <div class="paper-card">
        <p>
            Простой сайт-блог, созданный, прежде всего, в целях обучения и практики.
            Во время его создания были разобраны основы html, css, jQueri и django для серверной части.
            Исходники лежат на гитхабе <a href="https://github.com/ZhulanovAA/mysite">тут</a>.
        </p>
    </div>
{% endblock %}
