{% extends "base.html" %}

{% block title %}О сайте{% endblock %}

{% block header %}
    <h1 class="title">О сайте</h1>
{% endblock %}

{% block content %}
    <div class="paper-card">
        <p>
            Простой сайт-блог, созданый, прежде всего, в целях обучения и практики.
            Во время его создания были разобранны основы html, css, jQueri и django для серверной части.
            Исходникии лежат на гитхабе <a href="https://github.com/ZhulanovAA/mysite">тут</a>.
        </p>
    </div>
{% endblock %}