{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Andrey Zhulanov">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="header-info">
            <img class="icon" id="toggle-sidebar" src="{% static 'images/hamburger.svg'%}">
            {% block header %}{% endblock %}
        </div>
        <div class="header-info">{% include "toggle_login.html" %}</div>
    </header>
    <div class="sidebar sidebar-closed">
        <b>
            <ul class="list-unstyled list-selectable">
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Админка</a></li>
                {% endif %}
                <li><a id="blog-link" href="{% url 'posts_list' %}"
                       class="{% block blog_link_class %}{% endblock %}">Блог</a></li>
                {% if user.is_authenticated %}
                    <li><a id="my-profile-link" href="{% url 'user_info' user.username %}"
                           class="{% block my_profile_link_class %}{% endblock %}">Мой профиль</a></li>
                    <li><a id="my-posts-link" href="{% url 'blog_user_posts' user.username %}"
                           class="{% block my_posts_link_class %}{% endblock %}">Мои записи</a></li>
                {% endif %}
                <li><a id="about-link" href="{% url 'mysite_about' %}"
                       class="{% block about_link_class %}{% endblock %}">О сайте</a></li>
            </ul>
        </b>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block aside %}{% endblock %}
    {% block float_button %}{% endblock %}
    <footer>
        <hr>
        <span class="info-text">&copy; Andrey Zhulanov 2016</span>
    </footer>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{% static 'scripts/sidebar.js' %}"></script>
    {% endblock %}
</body>
</html>