{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Andrey Zhulanov">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        {% block header %}{% endblock %}
        <div class="header-info">{% include "toggle_login.html" %}</div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block aside %}{% endblock %}
    {% block float_button %}{% endblock %}
    <footer>
        <hr>
        Andrey Zhulanov 2016
    </footer>
</body>
</html>