{% if user.is_authenticated %}
    <span>
        {{ user.username }} |
        <a href="{% url 'mysite_logout' %}">выйти</a>
    </span>
{% else %}
    <form class="header-form" action="{% url 'mysite_login' %}"
          method="post" accept-charset="utf-8">
        <input type="text" placeholder="Логин" name="username">
        <input type="password" placeholder="Пароль" name="password">
        {% csrf_token %}
        <input class="light-btn" type="submit" value="Войти">
    </form>
    <form class="header-form" action="{% url 'mysite_registration' %}">
        <input class="light-btn" type="submit" value="+">
    </form>
{% endif %}